p {
    font-size: 25px;
}

.produto {
    background-color: crimson;
    color: azure;
}

.produto span {
    font-size: 30px;
    color: #000;
}

.produto .destaque {
    font-size: 30px;
    color: aqua;
}